<form asp-action="save" asp-controller="users" method="post">
    <ul>
        <li>
            <label for="Name">Navn</label>
            <input type="text" name="Name" />
        </li>
        <li>
            <label for="Password">Passord</label>
            <input type="text" name="Password" />
        </li>
        <li>
            <label for="Team">Team</label>
            <input type="text" name="Team" />
        </li>
        <li>
            <label for="EmpNr">Beskrivelse</label>
            <input type="text" name="EmpNr" />
        </li>
        <li>
            <input type="submit" value="Lagre" />
        </li>
    </ul>
</form>